In [2]:
Number1 = int(input("Please enter the first number "))
Number2 = int(input("Please enter the second number"))
sum = Number1+Number2
print("the sum of 2 numbers is : %d"%(sum))

Please enter the first number 23
Please enter the second number42
the sum of 2 numbers is : 65

In [7]:
Num = int(input("Please enter the first number "))
e=0
for i in range(2,Num):
    if(Num%i==0):
        e=1
        break
if(e==0):
    print("It is a prime number")
else:
    print("It is not a prime Number")

Please enter the first number 4
It is not a prime Number

In [8]:
height=float(input("Enter the Height of the triangle"))
base=float(input("Enter the Base of the triangle"))

area =(height * base)/2

print("Area of the triangle : %f" %area)

Enter the Height of the triangle4
Enter the Base of the triangle6
Area of the triangle : 12.000000

In [9]:
first = int(input("Please enter the first number "))
second = int(input("Please enter the second number"))

print("Before swap : ")
print("First : %d  second : %d" %(first,second))

first = first + second
second = first-second
first = first-second

print("After swap : ")
print("First : %d  second : %d" %(first,second))

Please enter the first number 5
Please enter the second number6
Before swap :
First : 5  second : 6
After swap :
First : 6  second : 5

In [11]:
import cmath  
a = float(input('Enter a: '))  
b = float(input('Enter b: '))  
c = float(input('Enter c: '))  
  
d = (b**2) - (4*a*c)  
 
sol1 = (-b-cmath.sqrt(d))/(2*a)  
sol2 = (-b+cmath.sqrt(d))/(2*a)  
print('The solution are {0} and {1}'.format(sol1,sol2))

Enter a: 8
Enter b: 16
Enter c: 8
The solution are (-1+0j) and (-1+0j)

In [23]:
year = int (input("Enter the year : "))

valid=0

if((year%400==0 and  year%4==0)):
    valid=1
elif year%100==0:
    valid=0

if(valid==1):
    print("Entered Year is  leap year")
else:
    print("Entered Year is not a leap year")

Enter the year : 2100
Entered Year is not a leap year

In [24]:
num = int(input(" enter the number :" ))

if(num>0):
    print("positive number")
elif(num==0):
    print("Number is zero")
else:
    print("negative number")

 enter the number :-4
negative number

In [26]:
n= int(input("Enter how many number of natural numbers"))

sum = n*(n+1)/2
print("the sum is : %d" %sum)

Enter how many number of natural numbers20
the sum is : 210

In [27]:
n= int(input("Enter the number"))

if(n%2==0):
    print("number is even")
    
else:
    print("number is odd")

Enter the number4
number is even

In [29]:
n= int(input("Enter the number"))

def fact(n):
    if(n==1):
        return 1
    else:
        return n * fact(n-1)
    
fact(n)

Enter the number5

120

In [31]:
n = int(input("Enter the Table number"))
m = int (input ("how many no of multiples you want : "))

for i in range(1,m+1):
    mul=n*i
    print(" %d  * %d : %d " %(n,i,mul))

Enter the Table number5
how many no of multiples you want : 10
 5  * 1 : 5
 5  * 2 : 10
 5  * 3 : 15
 5  * 4 : 20
 5  * 5 : 25
 5  * 6 : 30
 5  * 7 : 35
 5  * 8 : 40
 5  * 9 : 45
 5  * 10 : 50

In [32]:
n = int(input("Enter the number of series"))

n1=0
n2=1
i=0
print(n1)
print(n2)
while(i<n-2):
    num=n1+n2
    print(num)
    n1=n2
    n2=num
    i=i+1

Enter the number of series8
0
1
1
2
3
5
8
13

In [33]:
n1 =  int(input("Enter the number1"))
n2 =  int(input("Enter the number2"))
n3 =  int(input("Enter the number3"))

if((n1>=n2) and (n1>n3)):
    print("%d is the largest number " % n1)
elif((n2>=n1) and (n2>n3)):
    print("%d is the largest number " % n2)
elif((n3>=n1) and (n3>n2)):
    print("%d is the largest number " % n3)
if((n1<=n2) and (n1<n3)):
    print("%d is the smallest number " % n1)
elif((n2<=n1) and (n2<n3)):
    print("%d is the smallest number " % n2)
elif((n3<=n1) and (n3<n2)):
    print("%d is the smallest number " % n3)

Enter the number12
Enter the number23
Enter the number34
4 is the largest number

In [34]:
km = float(input(" please enter the kilo meters "))

miles =  km * 0.621371

print("the mile convertion :  %f" %miles )

 please enter the kilo meters 5
the mile convertion :  3.106855

In [35]:
c = float(input(" please enter the celsius "))

f =  c * 1.8 +32

print("the farenheit convertion :  %f" %f )

 please enter the celsius 30
the farenheit convertion :  86.000000

In [38]:
dec = int(input("enter the number"))

print(bin(dec),"in binary.")
print(oct(dec),"in octal.")
print(hex(dec),"in hexadecimal.")

enter the number4
0b100 in binary.
0o4 in octal.
0x4 in hexadecimal.

In [44]:
n1 = int(input("Enter first number: "))
n2 = int(input("Enter second number: "))

print("Enter your choice.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")


c = int(input("choose one of the above:"))

def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    return x / y

if c == 1:
    print("%d + %d : %d " %(n1,n2,add(n1,n2)))

elif c == 2:
    print("%d - %d : %d " %(n1,n2,subtract(n1,n2)))
elif c == 3:
    print("%d * %d : %d " %(n1,n2,multiply(n1,n2)))

elif c == 4:
    print("%d / %d : %d " %(n1,n2,divide(n1,n2)))
else:
    print(" please give write  input ")

Enter first number: 2
Enter second number: 3
Enter your choice.
1.Add
2.Subtract
3.Multiply
4.Divide
choose one of the above:2
2 - 3 : -1